body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: rgb(187, 182, 182);
    
};
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
};


.cards {
 
}
.card {
  width: 18rem;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  height: 350px;
}
.card img{
  width: 100%;
  height: 250px;
}

h4 {
  color: red;
}
button {
  margin-bottom: 10px;
}
